.idea/
*.log
*.iml
yarn.lock
package-lock.json

# Created by https://www.gitignore.io/api/vuejs
# Edit at https://www.gitignore.io/?templates=vuejs

### Vuejs ###
node_modules
.DS_Store
docs/_book
test/
dist/

# End of https://www.gitignore.io/api/vuejs
